[Unit]
Description=NNS FreeplayBacklightDaemon
After=basic.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/home/pi/NNS/FreeplayBacklightDaemon/nns-freeplay-backlight-daemon -pin 31 -interval 250
# write to journal or within script to separate log file
# StandardOutput=/home/pi/NNS/FreeplayBacklightDaemon/nns-freeplay-backlight-daemon-out.log
# StandardError=/home/pi/NNS/FreeplayBacklightDaemon/nns-freeplay-backlight-daemon-err.log

[Install]
WantedBy=multi-user.target
