[Unit]
Description=NNS FreeplayBacklightDaemon
After=basic.target
#After=meadiacenter.service

[Service]
# If User and Group are not specified, then by default systemd ExecStart runs as root
User=root
Group=root
Type=simple
ExecStart=/bin/bash /home/pi/NNS/FreeplayBacklightDaemon/nns-freeplay-backlight-daemon.sh
TimeoutStartSec=0
# write to journal or within script to separate log file
# StandardOutput=/home/pi/NNS/FreeplayBacklightDaemon/nns-freeplay-backlight-daemon-out.log
# StandardError=/home/pi/NNS/FreeplayBacklightDaemon/nns-freeplay-backlight-daemon-err.log
Restart=Always

[Install]
WantedBy=multi-user.target
